In [14]:
import os
import csv
import pandas as pd

# Path to collect data from the Resources folder
data_to_load_df = os.path.join("resources/WWE-Data-2016.csv")
wrestling_data_df=pd.read_csv(data_to_load_df)
wrestling_data_df.head()

       Wrestler  Wins  Losses  Draws
0  Dean Ambrose   133      67      4
1   Kevin Owens    61     130      2
2  Tyler Breeze    17     163      2
3     AJ Styles   108      68      0
4     Sami Zayn   111      59      6

In [23]:
# Define the function and have it accept the 'wrestlerData' as its sole parameter

# Find the total number of matches wrestled
total_matches = wrestling_data_df["Wins"] + wrestling_data_df["Losses"] + wrestling_data_df["Draws"]
wrestling_data_df["Total Matches"] = total_matches
wrestling_data_df.head()

       Wrestler  Wins  Losses  Draws  Total Matches
0  Dean Ambrose   133      67      4            204
1   Kevin Owens    61     130      2            193
2  Tyler Breeze    17     163      2            182
3     AJ Styles   108      68      0            176
4     Sami Zayn   111      59      6            176

In [28]:
# Find the percentage of matches won
wins_percent=wrestling_data_df["Wins"]/wrestling_data_df["Total Matches"]*100
wrestling_data_df["Percent Wins"]= wins_percent
wrestling_data_df.head()

       Wrestler  Wins  Losses  Draws  Total Matches  Percent Wins
0  Dean Ambrose   133      67      4            204     65.196078
1   Kevin Owens    61     130      2            193     31.606218
2  Tyler Breeze    17     163      2            182      9.340659
3     AJ Styles   108      68      0            176     61.363636
4     Sami Zayn   111      59      6            176     63.068182

In [30]:
# Find the percentage of matches lost
loss_percent=wrestling_data_df["Losses"]/wrestling_data_df["Total Matches"]*100
wrestling_data_df["Percent Losses"]= loss_percent
wrestling_data_df.head()

,Wrestler,Wins,Losses,Draws,Total Matches,Percent Wins,Percent Losses
0,Dean Ambrose,133,67,4,204,65.196078,32.843137
1,Kevin Owens,61,130,2,193,31.606218,67.357513
2,Tyler Breeze,17,163,2,182,9.340659,89.560440
3,AJ Styles,108,68,0,176,61.363636,38.636364
4,Sami Zayn,111,59,6,176,63.068182,33.522727

In [31]:
# Find the percentage of matches drawn
drawn_percent=wrestling_data_df["Draws"]/wrestling_data_df["Total Matches"]*100
wrestling_data_df["Percent Drawn"]= drawn_percent
wrestling_data_df.head()

,Wrestler,Wins,Losses,Draws,Total Matches,Percent Wins,Percent Losses,Percent Drawn
0,Dean Ambrose,133,67,4,204,65.196078,32.843137,1.960784
1,Kevin Owens,61,130,2,193,31.606218,67.357513,1.036269
2,Tyler Breeze,17,163,2,182,9.340659,89.560440,1.098901
3,AJ Styles,108,68,0,176,61.363636,38.636364,0.000000
4,Sami Zayn,111,59,6,176,63.068182,33.522727,3.409091

In [15]:



# Print out the wrestler's name and their percentage stats

# Read in the CSV file
with open(wrestling_csv, 'r') as csvfile:

    # Split the data on commas
    csvreader = csv.reader(csvfile, delimiter=',')

    # Prompt the user for what wrestler they would like to search for
    name_to_check = input("What wrestler do you want to look for? ")

    # Loop through the data
    for row in csvreader:

        # If the wrestler's name in a row is equal to that which the user input, run the 'print_percentages()' function
        if(name_to_check == row[0]):
            print_percentages(row)

TypeError: sum expected at most 2 arguments, got 3